<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="description"
            content="A front-end template that helps you build fast, modern mobile web apps."
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
        />
        <title></title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes" />
        <!-- <link rel="icon" sizes="192x192" href="/images/android-desktop.png" /> -->
        <link rel="shortcut icon" href="/images/user.jpg" />

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta
            name="apple-mobile-web-app-title"
            content="Material Design Lite"
        />
        <!-- <link
            rel="apple-touch-icon-precomposed"
            href="/images/ios-desktop.png"
        /> -->

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <!-- <meta
            name="msapplication-TileImage"
            content="images/touch/ms-touch-icon-144x144-precomposed.png"
        /> -->
        <meta name="msapplication-TileColor" content="#3372DF" />

        <!-- <link rel="shortcut icon" href="/images/favicon.png" /> -->

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link
            rel="stylesheet"
            href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
        />
        <!-- Internal Stylings -->
        <link rel="stylesheet" href="/css/css_global.css" />
        <link rel="stylesheet" href="/css/css_dashboard/dashboard_basic.css" />
        <link rel="stylesheet" href="/css/css_dashboard/dashboard_styles.css" />
        <link
            rel="stylesheet"
            href="/css/css_settings/css_setting_section.css"
        />
    </head>
    <body>
        <div
            class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
        >
        <header
            class="demo-header mdl-layout__header mdl-color--grey-100 pancake"
        >
        <div class="mdl-layout__header-row pancake">
        </div>
      </header>
            <div class="demo-drawer mdl-layout__drawer">
                <header class="demo-drawer-header">

                    <% if(user.profileImage){ %>
                        <img src="<%= user.profileImage %>" class="demo-avatar" />
                      <% } else{ %>  
                    <img src="/images/user.jpg" class="demo-avatar" />
                     <% } %>

                    <p class="userName"><%=user.name%></p>
                    <!-- Custom select structure -->
                    <p class="currentSem">Currenly viewing</p>
                    <div class="select_mate" data-mate-select="active">
                        <select name="" onclick="return false;" disabled id="">
                            <option value="">Select Semester</option>
                            <option value="1">Semester 1</option>
                            <option value="2">Semester 2</option>
                            <option value="3">Semester 3</option>
                            <option value="3">Semester 4</option>
                            <option value="3">Semester 5</option>
                            <option value="3">Semester 6</option>
                            <option value="3">Semester 7</option>
                            <option value="3">Semester 8</option>
                        </select>
                        <p
                            class="selecionado_opcion"
                            onclick="open_select(this)"
                        ></p>
                        <span
                            onclick="open_select(this)"
                            class="icon_select_mate"
                            ><svg
                                fill="#000000"
                                height="24"
                                viewBox="0 0 24 24"
                                width="24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"
                                />
                                <path d="M0-.75h24v24H0z" fill="none" />
                            </svg>
                        </span>
                        <div class="cont_list_select_mate">
                            <ul class="cont_select_int"></ul>
                        </div>
                    </div>
                    <!-- Custom select structure -->
                    <!-- <div class="demo-avatar-dropdown">
                        <span>Shashwat@gmail.com</span>

                        <div class="mdl-layout-spacer"></div>
                        <button
                            id="accbtn"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                        >
                            <i class="material-icons" role="presentation"
                                >arrow_drop_down</i
                            >
                            <span class="visuallyhidden">Accounts</span>
                        </button>
                        <ul
                            class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            for="accbtn"
                        >
                            <li class="mdl-menu__item">hello@example.com</li>
                            <li class="mdl-menu__item">info@example.com</li>
                            <li class="mdl-menu__item">
                                <i class="material-icons">add</i>Add another
                                account...
                            </li>
                        </ul>
                    </div> -->
                </header>
                <div class="mdl-layout-spacer"></div>
                <nav class="demo-navigation mdl-navigation">
                    <a class="mdl-navigation__link" href="/user/profile"
                        ><i class="material-icons" role="presentation"
                            >cast_for_education</i
                        >Home</a
                    >
                    <a class="mdl-navigation__link" href="/user/settings"
                        ><i class="material-icons" role="presentation"
                            >settings</i
                        >Settings</a
                    >
                    <a class="mdl-navigation__link" href="/user/logout"
                        ><i class="material-icons" role="presentation"
                            >account_circle</i
                        >Logout</a
                    >

                    <a class="mdl-navigation__link" href=""
                        ><i class="material-icons" role="presentation"
                            >help_outline</i
                        >Help</a
                    >
                </nav>
            </div>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="settings">
                    <div class="container">
                 <form action="/user/settings/profile/image/<%= user._id %>" enctype="multipart/form-data" method="POST">
                    <div class="profile_image">
                        <div class="image_container">
                            <% if(user.profileImage){ %>
                                <img src="<%= user.profileImage %>" class="demo-avatar" />
                              <% } else{ %>  
                            <img src="/images/user.jpg" class="demo-avatar" />
                             <% } %>
                        </div>
                    </div>
                    <input type="file" name="profileImage">
                    <input type="submit" value="Change picture">
                 </form>
                        <h4 class="heading">Change Password</h4>
                        <div class="profile_settings">
                            <form action="#" class="form" autocomplete="off">
                                <div class="form_fieldItem">
                                    <label for="fullName"
                                        >Current Password</label
                                    >
                                    <input
                                        type="password"
                                        placeholder="Enter Current Password"
                                        name="currentPassword"
                                    />
                                </div>
                                <div class="form_fieldItem">
                                    <label for="scholarID">New Password</label>
                                    <input type="password" name="newPassword" />
                                </div>
                                <div class="form_fieldItem">
                                    <label for="scholarID"
                                        >Confirm New Password</label
                                    >
                                    <input type="password" />
                                </div>
                                <!-- <div class="form_fieldItem">
                                    <label>
                                        <a href="#">Change Password</a></label
                                    >
                                </div>
                                <hr width="100%" /> -->
                                <!-- <div class="form_fieldItem">
                                    <label for="scholarID"
                                        >To save changes, enter password</label
                                    >
                                    <input
                                        type="password"
                                        placeholder="Enter your current password"
                                    />
                                </div> -->
                                <input type="submit" value="Save Changes" />
                            </form>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('partials/footer.ejs') %>
        </div>
        <script src="/js/admin_dashboard/dropdown.js"></script>
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        
    </body>
</html>
